node_modules
.git
.gitignore
.env
*.db
whatsgoapi/build
whatsgoapi/files
whatsgoapi/logs
downloads/
data/
public/
temp/
media/
*.log
npm-debug.log*
.gemini/
.github/
/old/
/.Trash-1000/
test-*/
*.swp
