# -----------------------------------------------------
# Este env possui MUITAS, mas MUITAS coisas
# Tudo que vem depois dos programas externos
# Defina apenas o que precisar usar!
# -----------------------------------------------------

# -----------------------------------------------------
# Configurações gerais
# -----------------------------------------------------
DEFAULT_PREFIX=!                # Prefixo padrão de comandos
SAFE_MODE=false                 # Apenas simula envio de mensagens e printa no terminal
DEBUG=true                      # Mostra Mensagens de debug mais detalhadas
HEADLESS_MODE=false             # false = mostra o navegador, true = navegador escondido
DL_FOLDER=D:/downloads          # Pasta onde serão baixados mídias (youtube, etc)
YT_USE_COOKIES=false            # Se true, usa o arquivo de cookies para o yt-dlp (evita 429 mas pode causar outros erros)
NOTIFY_UNKNOWN_COMMANDS=false   # Responder mensagens de "comando não encontrado"
SUPER_ADMINS=12345@c.us         # Número de pessoas que podem dar comandos de SuperAdmin (padrão ID whats)
MAX_BACKUPS=120                  # Quantidade máxima de backups locais a manter
BACKUP_RETENTION_DAYS=30        # Quantidade de dias para manter os backups locais
SCHEDULED_BACKUP_HOURS=0,6,12,18 # Horas do dia para realizar o backup automático
POWER_OUTAGE_MIN_TIME=5         # Tempo mínimo de queda de energia para notificar (em segundos)
SQLITE_REMOTE_BACKUP=false      # Ativa backup remoto em servidores SQL (MySQL/Postgres)
SQLITE_REMOTE_SERVERS=mysql://user:pass@host:port/db,mysql://user2:pass2@host2:port2/db2
REMOTE_BACKUP_INTERVAL_MINUTES=30 # Intervalo de sincronização remota (em minutos)
LOADING_EMOJI=🌀				# Nem todos são suportados na EvolutionAPI
CMD_WHITELIST=sa-,anoni			# Comandos pra considerar mesmo que o bot esteja com "ignorar PV" habilitado
USE_REDIS=false 				# A evo v2 usa o redis, então é possivel usar na ravena também se quiser

# --------------------------------------------------------------
# Programas externos
# Defina PELO MENOS o ffmpeg e  chrome, para poder enviar vídeos
# Whisper é para transcrição de áudio
# --------------------------------------------------------------
FFMPEG_PATH=C:/Apps/ffmpeg.exe
CHROME_PATH=C:/Program Files/Google/Chrome/Application/chrome.exe
#WHISPER=C:/Apps/Faster-Whisper-XXL/faster-whisper-xxl.exe
#WHISPER_USE_GPU=                     # Defina pra rodar na GPU ao invés de CPU, caso a sua suporte

# -----------------------------------------------------
# Grupos de Whatsapp que o bot utiliza
# Nenhuma dessas variáveis é necessária pro bot funcionar
# -----------------------------------------------------
LINK_GRUPO_INTERACAO=https://chat.whatsapp.com/abc123 # Para !grupao
LINK_GRUPO_AVISOS=https://chat.whatsapp.com/def456    # Para !avisos
GRUPO_LOGS=1234678901234567890@g.us           # ID WhatsApp de grupos para debug e monitoramento
GRUPO_ESTABILIDADE=1234678901234567890        # 1. Adicione o bot nos grupos
GRUPO_INVITES=1234678901234567890@g.us        # 2. Abra o arquivo data/groups.json
GRUPO_AVISOS=1234678901234567890@g.us         # 3. Pegueo o ID de lá! (pra facilitar, use !g-setName)
GRUPO_INTERACAO=1234678901234567890@g.us      # 
GRUPOS_HOROSCOPOS=
GRUPO_MUNEWS=

# -----------------------------------------------------
# Discord
# Opcional, ajuda no desenvolvimento
# -----------------------------------------------------
GRUPO_LOGS_DISCORD=
GRUPO_AVISOS_DISCORD=

# -----------------------------------------------------
# API da RavenaBot
# Completamente opcional, ainda mais pra quem vai rodar o bot particular
# Eu uso cloudflare pra domínio externo ravena.moothz.win
# -----------------------------------------------------
BOT_DOMAIN=https://seuhost.com/rv 		# URL da API 
BOT_DOMAIN_LOCAL=http://192.168.1.100 	# URL LOCAL da API, pra uso com o Evolution e evitar problemas de HTTPS
API_PORT=5000           				# Porta da API
UPS_API_SECRET=uma_senha_muito_segura   # Segredo para autenticar webhooks do nobreak (UPS)
BOTAPI_USER=admin         				# Usuário para comandos remotos
BOTAPI_PASSWORD=senhaCecreta    		# Senha para comandos Remotos
MANAGEMENT_TOKEN_DURATION=30    		# Tempo em minutos de duração da sessão para !g-painel
LIMIT_STORAGE_MB=1024                   # Limite de armazenamento de mídia por grupo (MB)
LIMIT_COMMANDS=100                      # Limite de comandos personalizados por grupo
LIMIT_STREAMS=20                        # Limite de streams monitoradas por grupo

# -----------------------------------------------------
# APIs externas
# Notificação de lives, IA...
# -----------------------------------------------------
TWITCH_CLIENT_ID=         	# https://dev.twitch.tv/docs/api/
TWITCH_CLIENT_SECRET=       # 
KICK_CLIENT_ID=           	# https://docs.kick.com/getting-started/kick-apps-setup
KICK_CLIENT_SECRET=         #
GOOGLE_API_KEY=           	# https://ai.google.dev/ + https://console.cloud.google.com/apis/credentials/key
GOOGLE_MAPS_API_KEY=        # $$$CUIDADO, PAGO$$$ Habilite as APIs: Generative Language API, Map Static API, Places API, Places API (New), Street View Static API
GEMINI_API_KEY=				# https://aistudio.google.com/api-keys?
DEEPSEEK_API_KEY=         	# https://platform.deepseek.com/apiKeys
OPENAI_API_KEY=           	# https://openai.com/api/
OPENWEATHER_API_KEY=        # https://openweathermap.org/api
RIOT_GAMES=             	# https://developer.riotgames.com/
GIPHY_API_KEY=            	# https://developers.giphy.com/
OMDB_API_KEY=           	# https://www.omdbapi.com/apikey.aspx
UNSPLASH_API_KEY=         	# https://unsplash.com/developers
LASTFM_APIKEY=            	# https://www.last.fm/pt/api
LASTFM_SECRET=            	# 
API_PLACAS_COMUM=         	# https://apiplacas.com.br/
API_PLACAS_PREMIUM=         # https://apiplacas.com.br/
NASA_API=					# https://api.nasa.gov/
#API_PLACAS_USAR_PREMIUM=TRUE   	# Caso tenha comprado uma chave premium no https://apiplacas.com.br/
GRUPOS_PLACA_PREMIUM=grupo1,grupo2  # Nomes de grupos que podem usar a API placa premium (!g-setNome)
SOUNDCLOUD_CLIENT_ID=				# Pegar da aba network no navegador
SOUNDCLOUD_OAUTH_TOKEN=				# Pegar da aba network no navegador

# -----------------------------------------------------
# APIs hospedadas por você mesmo
# Recomendo se tiver GPU boa ou Mac ARM: LM Studio e automatic1111 sdwebui
# Agora os URLs de APIs (Whisper, ComfyUI, etc) são configurados no arquivo service-providers.json
# -----------------------------------------------------
API_TIMEOUT=30000					        # em ms
SDWEBUI_TOKEN=                				# base64 de user:password de --api-auth
SD_width=1200
SD_height=1200
SD_steps=40
SD_cfg_scale=2
SD_sampler_name=k_dpmpp_2m_sde
DISABLE_IMAGINE_COMMAND=false
DISABLE_TTS_COMMAND=false

# -----------------------------------------------------
# EvolutionAPI
# -----------------------------------------------------
#USE_EVOLUTION=         # Usar Evolution ao invés do whatsappweb-js
#EVOLUTION_API_URL=       # http://localhost:1234
#EVOLUTION_API_KEY=       # abcd12345*&¨%%
#EVOLUTION_BOT_TOKEN=     # Não utilizado ainda
#EVO_WEBHOOK_HOST=        # Prefiro usar websocket, mas se quiser
#EVO_WEBHOOK_PORT=        # Configure webhook aqui


# -----------------------------------------------------
# Configurações do tipa
# -----------------------------------------------------
TIPA_TOKEN=             				# https://tipa.ai/settings/apps (WEBHOOKS)
DONATION_LINK=https://tipa.ai/moothz
DONATION_GOAL_AMOUNT=1000
DONATION_GOAL_DESCRIPTION=Pagar o moothz!

# ===============================================
# Configurações do Bot - Telegram
# ===============================================

# Um token secreto para validar os webhooks e garantir que eles venham do Telegram
TELEGRAM_SECRET_TOKEN="seu_token_secreto_super_seguro"

# IDs de chat para funcionalidades específicas (logs, avisos, etc.)
TELEGRAM_GRUPO_LOGS="-1001234567890"
TELEGRAM_GRUPO_AVISOS="-1001234567891"
